/node_modules
/public/hot
/public/storage
/storage/*.key
storage/temp/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/log/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
